
.sideBar{
height:100vh;
padding: 0px 10px;
display: flex;
flex-direction: column;
justify-content: space-between;
background-color: var(--sideBarColor);
}
#darkSideBar{
    background-color: var(--sideBarDarkColor);
}
.topContainer>img:hover{
    scale: 1.2;
    cursor:pointer;
    box-shadow: 0px 0px 8px var(--commonHoverColor);
}
#darkTopContainer >img{
    filter: drop-shadow(0px 0px 1px var(--commonHoverDarkColor));
}
#darkTopContainer>img:hover{
    box-shadow: 0px 0px 8px var(--commonHoverDarkColor);
}
.topContainer, .bottomContainer{
    padding: 10px 0px;
}
.previewContainer{
    margin-top: 15px;
    max-height: 40vh;
    min-width: 16vw;
}
.sideBarElements{
    display: flex;
    align-items: center;
    padding: 0px 8px;
    margin: 8px 0px;
    border-radius: 50px;
    background-color: var(--elementsContainerColor);
}
#darkSBElement{
    border: 1px solid var(--whiteColor);
    background-color: var(--blackColor);
    color: var(--whiteColor)
}
#darkSBElement>img{
    filter: drop-shadow(0px 0px 0.5px var(--commonHoverDarkColor));
}
.sideBarElements:hover{
    background-color: var(--elementsContainerHoverColor);
}
#darkSBElement:hover{
    background-color: var(--elementsContainerHoverDarkColor);
}
.sideBarElements> label{
    padding-left:5px;
}