*{
  padding:0px;
  margin:0px;
  box-sizing:border-box;
}
:root{
  --bgColor: white;
  --fontColor: black;
  --sideBarColor:rgb(230, 237, 237);
  --elementsContainerColor: rgb(221, 229, 230);
  --elementsContainerHoverColor: rgb(162, 186, 189);
  --commonHoverColor: rgb(26, 119, 132);
  --commonBorderColor: black;
}
body{
  width:100vw;
  height:100vh;
  background-color: var(--bgColor);
  color: var(--fontColor);
  font-size: 15px;
}
h1{
  font-size: 4vw;
}

img{
  width: 20px;
  height: 20px;
}
.geminiAppContainer{
  display: flex;
}