*{
  padding:0px;
  margin:0px;
  box-sizing:border-box;
}
:root{
  --whiteColor: white;
  --blackColor: black;

  --sideBarColor:rgb(230, 237, 237);
  --elementsContainerColor: rgb(221, 229, 230);
  --elementsContainerHoverColor: rgb(171, 188, 201);
  --commonHoverColor: rgb(26, 119, 132);

  --sideBarDarkColor:rgb(29, 29, 31);
  --elementsContainerHoverDarkColor: rgb(202, 196, 188);
  --commonHoverDarkColor: rgb(255, 255, 255);
}
body{
  width:100vw;
  height:100vh;
  font-size: 2vw;
}
h1{
  font-size: 4vw;
}

img{
  width: 3vw;
  height: auto;
}
.geminiAppContainer{
  display: flex;
}

@media (width < 500px){
  body{
    font-size: 2.6vw;
  }
}